body {
  background-color: #f4f6f8;
}
  font-size: x-large;
}

caption {
  font-size:xx-large;
}

input[type="text"] {
  font-size:x-large;
  text-align:right;
  color: red;
  background-color: #fffaf0;
  border: 0px;
  padding: 5px;
}

.center {
  text-align: center;
}

table {
  background-color: #e8f0fe;
  border: thin solid #000000;
}

