body {
  background-color: #e8f0fe;
  font-size: x-large;
  font-family: Arial, sans-serif;
}

caption {
  font-size: xx-large;
}

input[type="text"] {
  font-size: x-large;
  text-align: right;
  color: red;
  background-color: #fffaf0;
  border: 0px;
  padding: 5px;
}

.center {
  text-align: center;
}

table {
  background-color: #ffffff; /* white table so background shows */
  border: thin solid #000000;
  margin: 40px auto;
}